$left-margin: 4rem;

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

h1,
h2 {
    margin: 0;
    font-family: 'Work Sans', georgia;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
}

.Header {
    top: 1.2rem;
    left: ($left-margin - 0.1);
    position: absolute;

    & .Tagline {
      margin-right: 3em;  
    }
}

.Grid {
    display: flex;
    position: absolute;
    transform-origin: left;
}

.Grid--side {
    transform: rotate(-90deg);
    left: -1.6rem;
    bottom: -0.4rem;
}

@keyframes show-up {
    from { opacity: 0; }

    to { opacity: 1; }
}

.Tagline {
    opacity: 0;
    width: 14ch;
    position: relative;
    animation: show-up 1500ms ease-in forwards;
}

.Name {
  font-weight: 600;
  width: auto;
  margin-right: 0.6em;
}

.Center {
    position: absolute;
    top: ($left-margin + 0.4);
    bottom: 2rem;
    left: $left-margin;
    right: 2rem;
}

main {
    overflow: hidden;
    height: 100%;
    position: relative;
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -1100vw;
    }
}

.Gradient {
    width: 1200vw;
    height: 100%;
    // background: linear-gradient(130deg, #ead3d5, #676c92); //1
    background: linear-gradient(130deg, #fff4f4, #252842); //2
    position: absolute;
    left: 0;
    animation: left 30s linear alternate infinite;
}

.Shape {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;

    &--left {
        $circle-diameter: 61vh;
        height: $circle-diameter;
        width: $circle-diameter;
        border-radius: 50%;
    }

    &--right {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        right: 0;
        position: absolute;

        & .Gradient {
            animation-direction: alternate-reverse;
        }
    }
}

// Set up the animation delays across the site

.anim-order-1 { animation-delay: 600ms; }
.anim-order-2 { animation-delay: 800ms; }
.anim-order-3 { & .Tagline:nth-child(1) { animation-delay: 2500ms; }}
.anim-order-3 { & .Tagline:nth-child(2) { animation-delay: 2700ms; }}
.anim-order-3 { & .Tagline:nth-child(3) { animation-delay: 2900ms; }}

//Media Queries

@media (max-width: 768px) {
    .Shape--left {
        display: none;
    }

    .Shape--right {
        clip-path: none;
    }
}